* {
    box-sizing: border-box;
}

html,
body {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);

    font-family: "Outfit", sans-serif;
    background: var(--lightgray)
}

div.whiteblock {
    position: relative;
    background: var(--white);
    border-radius: 15px;
    left: 38%;
    top: 150px;
    padding: 1%;
    padding-top: 17px;
    width: 335px;
    height: 520px;
    text-align: center;
    /* box-shadow: 10px 20px 40px var(--grayishblue); */
}

img {
    padding: 0%;
    border-radius: 15px;
    width: 300px;
}

h2 {
    color: var(--darkblue);
    font-size: 25px;
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
}

p {
    color: var(--grayishblue);
    font-size: 16px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    position: fixed;
    width: auto;
    top: 750px;
    left: 40%;
    z-index: 10;
}

div.attribution { 
    font-size: 11px; 
    text-align: center; 
}



div.attribution a { 
    color: hsl(228, 45%, 44%); 
}